body {

font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
   
} 
/**------------- HEADER-----------*/

.header {

}
.header-navigation {

}
.header-logo {
font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.16;
}

.header-list {

}

.header-item {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50;
}

.header-link {

}
.header-adress {

}
.header-adress-list {
 
}
.header-adress-item {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.50;

}
.header-adress-link {

}

/**------------- INTRO-----------*/

.intro {

}

.intro-suptitle {
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 56px;
line-height: 1.07;
} 

.intro-btn {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.50px;
}

/**------------- CONTENT-----------*/

.content {
}
.content-hero {
}
.content-list {
}
.content-item {
}
.content-title {
}
.content-top-text {
}

/**------------- ABOUT-----------*/

.about {
}
.about-title {
}
.about-list {
}
.about-item {
}

/**------------- STAFF-----------*/

.staff {
}
.staff-title {
}
.staff-list {
}
.staff-item {
}
.staff-subject {
}
.staff-center-text {
}

/**------------- FOOTER-----------*/

.footer {
}
.footer-logo {
}
.footer-text {
}


















































































