body {

color: #434455;
background-color: #FFFFFF;

font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
   
} 

:root {

 --brand-color: ;

}

/**------------- HEADER-----------*/
 
.header {
}
.header-nav {
}
.header-logo-inner {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #4d5ae5;

}

.link {

    text-decoration: none;
}
   

.header-logo {
    color: #2e2f42;
   
}



.list {

    list-style: none;
}

.header-list {
    
   
}
.header-list-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: #2e2f42;
}

.header-list-item-link {
    text-decoration:none
    
}
.header-list-item-link:hover {
    color: #404bbf;
}
.header-list-item-link:focus {
    
    color: #404bbf;
}
.header-address {
    font-style: normal
}
.header-address-list {
}
.header-address-list-item {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color:#434455;
}
.header-address-list-item-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color:#434455;
}

/**------------- INTRO-----------*/

.intro {
    background-color: #2e2f42;
}
.intro-title {
}
.intro-btn {
}







































































