body {

color: #434455;
background-color: #FFFFFF;

font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
   
} 
/**------------- HEADER-----------*/

.header {
border-bottom: 1px solid #e7e9fc
}

.header-navigation {
    display: flex;
    align-items: center;

}
.header-logo {
font-family: "Raleway", sans-serif
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
text-decoration: none;
color: #2e2f42;
margin-right: 76px


}

.header-list {
list-style-type: none;
list-style: none;

}

.header-item {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    gap: 40px;
    padding: 24px 0 24px; 
    
}

.header-link {

}
.header-address {

}
.header-address-list {
list-style-type: none
 
}
.header-address-item {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.50;
display: flex;
margin-right: 40px;


}
.header-address-link {

}

/**------------- INTRO-----------*/

.intro {
    padding: 188px 0 188px;

}

.intro-suptitle {
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 56px;
line-height: 1.07;
max-width: 496px
} 

.intro-btn {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.50px;

background: #4D5AE5;
border-radius: 4px;
color: white;

min-width: 169px;
display: block; 
flex-direction: row;
align-items: flex-start;
padding: 16px 32px;
gap: 10px;
height: 56px;
border: none;
border-radius: 4px;

cursor: pointer;

}

.intro-btn:hover {
    background-color: #404BBF;
}
.intro-btn:focus {
    background-color: #404BBF
}




/**------------- CONTENT-----------*/

.content {
}
.content-hero {
}
.content-list {
list-style-type: none
}
.content-item {
}
.content-title {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.20;
}
.content-top-text {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.50;
}

/**------------- ABOUT-----------*/

.about {
}
.about-title {
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 1.11;
}
.about-list {
list-style-type: none;
}
.about-item {
}
.about-img {

    display: block;
}

/**------------- STAFF-----------*/

.staff {
}
.staff-title {
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 1.11;
}
.staff-list {
list-style-type: none
}
.staff-item {
}
.staff-subject {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.20;
}
.staff-center-text {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.20;
}

/**------------- FOOTER-----------*/

.footer {
}
.footer-logo {
font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.16;
}
.footer-text {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.50;
}


















































































